<!DOCTYPE html>
<html>
<head>
  <title>Wikinomous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar navbar-fixed">
    <div><%= link_to 'Wikinimous', articles_path %></a></div>
    <div><%= link_to 'Add new article', new_article_path %></div>
  </div>
  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
